<!DOCTYPE HTML>
<html>
	<head>
		<title>About Dave's Bookshop</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<div class="inner">

						<!-- Logo -->
							<a href="/" class="logo">
									<span class="fa fa-book"></span> <span class="title">Dave's Bookshop</span>
								</a>

						<!-- Nav -->
							<nav>
								<ul>
									<li><a href="#menu">Menu</a></li>
								</ul>
							</nav>

					</div>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/" class="active">Home</a></li>

						<li><a href="/products">Extras</a></li>

						<li><a href="/reg">Press Release</a></li>

						<li><a href="/about">About us</a></li>

						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>About Us</h1>

							<div class="image main">
								<img src="images/banner-image-1-1920x500.jpg" class="img-fluid" alt="" />
							</div>

							<p>About us</p>
							<p>Daves' Bookstore is an online bookstore with a <b>mission</b> to connect people with their favourite books and financially support local bookstores.
							We believe that the readings of books are essential to a healthy culture. </p>
							<p>The <b>Vision</b> statement for Daves': To be the world largest library, without the library membership.</p>
							<p>Our core <b>values</b>: Customer Obsession, Simplify, Hire the Best, Efficiency, The Highest Standards. The things we’ll value as a company and look to deliver to customers.</p>
							<p>As more and more people buy their books online, we wanted to create an easy, convenient way for you to get your books and support bookstores at the same time.
							We also support anyone who advocates for books through our affiliate programs, which pays a 10% commission on every sale, and gives a matching 10% to independent bookstores. If you are an author, a website or magazine, have a book club, an organization that wants to recommend books, or even just a booklover with an Instagram feed, you can sign up to be an affiliate, start your own shop, and be rewarded for your advocacy of books. Dave’s bookstore wants to give back to everyone who promotes books, authors, and independent bookstores!
							By design, we give away over 50% of our profit margin to stores, publications, authors and others who make up the thriving, inspirational culture around books!
							We hope that our online bookstore can help strengthen the fragile ecosystem and margins around bookselling and keep local bookstores an integral part of our culture and communities.
							Daves' Bookstore is a benefit corporation – we are dedicated to the public good.</p>

						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2021 Dave's Bookstore </li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/main.js"></script>
	</body>
</html>