<!DOCTYPE HTML>
<html>
	<head>
		<title>Dave's bookstore</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/main.css" />
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<header id="header">
					<div class="inner">

						<!-- Logo -->
							<a href="/" class="logo">
									<span class="fa fa-book"></span> <span class="title">Dave's bookstore</span>
								</a>

						<!-- Nav -->
							<nav>
								<ul>
									<li><a href="#menu">Menu</a></li>
								</ul>
							</nav>

					</div>
				</header>

			<!-- Menu -->
				<nav id="menu">
					<h2>Menu</h2>
					<ul>
						<li><a href="/" class="active">Home</a></li>

						<li><a href="/products">Extras</a></li>

						<li><a href="/reg">Press Release</a></li>

						<li><a href="/about">About us</a></li>

						<li><a href="/contact">Contact Us</a></li>
					</ul>
				</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Products</h1>

							<div class="image main">
								<img src="images/extras.jpeg" class="img-fluid" alt="" width="72" height="48"/>
							</div>

							<!-- Products -->
							<section class="tiles">
								<article class="style1">
									<span class="image">
										<img src="images/100 years of solitude.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>100 years of solitude</h2>
										
										<p><del>$24.00</del> <strong>$22.00</strong></p>

										<p> </p>
									</a>
								</article>
								<article class="style2">
									<span class="image">
										<img src="images/Don Quixote.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>Don Quixote</h2>
										
										<p> <strong>$19.00</strong></p>

										<p> </p>
									</a>
								</article>
								<article class="style3">
									<span class="image">
										<img src="images/Hamlet.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>Hamlet</h2>
										
										<p> <strong>$21.00</strong></p>

										<p> </p>
									</a>
								</article>

								<article class="style4">
									<span class="image">
										<img src="images/isolt.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>In Search Of Lost Time</h2>
										
										<p><del>$21.00</del> <strong>$20.00</strong></p>

										<p> </p>
									</a>
								</article>

								<article class="style5">
									<span class="image">
										<img src="images/Madame Bovary.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>Madame Bovary</h2>
										
										<p><del>$29.00</del> <strong>$24.00</strong></p>

										<p> </p>
									</a>
								</article>

								<article class="style6">
									<span class="image">
										<img src="images/Moby Dick.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>Moby Dick</h2>
										
										<p><del>$23.00</del> <strong>$19.00</strong></p>

										<p> </p>
									</a>
								</article>

								<article class="style4">
									<span class="image">
										<img src="images/The Great Gatsby.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>The Great Gatsby</h2>
										
										<p><del>$25.00</del> <strong>$23.00</strong></p>

										<p> </p>
									</a>
								</article>

								<article class="style5">
									<span class="image">
										<img src="images/The Odyssey.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>The Odyssey</h2>
										
										<p><del>$29.00</del> <strong>$21.00</strong></p>

										<p> </p>
									</a>
								</article>

								<article class="style6">
									<span class="image">
										<img src="images/ulysses.jpeg" alt="" />
									</span>
									<a href="product-details.hbs">
										<h2>Ulysses</h2>
										
										<p><del>$23.00</del> <strong>$20.00</strong></p>

										<p> </p>
									</a>
								</article>
							</section>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2021 Dave's Bookstore </li>
								
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="bootstrap/js/bootstrap.bundle.min.js"></script>
			<script src="js/jquery.scrolly.min.js"></script>
			<script src="js/jquery.scrollex.min.js"></script>
			<script src="js/main.js"></script>
	</body>
</html>