<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dave's book store</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <div id="wrapper">
		<!-- Header -->
		<header id="header">
			<div class="inner">

				<!-- Logo -->
					<a href="/" class="logo">
						<span class="fa fa-book"></span> <span class="title">Dave's bookstore</span>
					</a>

				<!-- Nav -->
					<nav>
						<ul>
							<li><a href="#menu">Menu</a></li>
						</ul>
					</nav>

			</div>
		</header>

	<!-- Menu -->
		<nav id="menu">
			<h2>Menu</h2>
			<ul>
				<li><a href="/" class="active">Home</a></li>

                <li><a href="/products">Extras</a></li>

                <li><a href="/reg">Press release</a></li>

                <li><a href="/about">About us</a></li>

                <li><a href="/contact">Contact Us</a></li>
			</ul>
		</nav>

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <p><b>FOR IMMEDIATE RELEASE</b></p>
                <p>Chinua Achebe and his literal Legacy<br>
                Oghenemaro David Oroh<br>
                Imprint: Daves’ Publishing<br>
                On sale: Dec 7, 2021<br>
                Price: $16.99<br>
                Pages: 312<br>
                ISBN: 9121671658466<br>
                CONTACT:<br>
                David<br>
                000-000-0000<br>
                davebookstore@gmail.com</p>
                <p>“The white man is very clever. He came quietly and peaceably with his religion. We were amused at his foolishness and allowed him to stay. Now he has won our brothers, and our clan can no longer act like one. He has put a knife on the things that held us together and we have fallen apart.” —Chinua Achebe, author of Things Fall apart</p>
                <p>In the years 1958 to 1966 Chinua Achebe published four novels in which the history of Nigeria starting from pre-colonial to post-colonial times was traced, mainly centred on the fate of the Ibo people: Things Fall Apart (1958), No Longer at Ease (1960), Arrow of God (1964), and A Man of the People (1966). Especially the first one won him international acclaim, but all of them are still widely read and discussed. Things Fall Apart has become a set text in English speaking countries all over Africa as it portrays an archetypal situation: the breaking apart of the old tribal society through the coming of the colonists. Unavoidably, certain aspects of these novels have also met with disapproval from readers and critics: some have criticized Achebe's portrayal of Africans and Europeans, his description of modern Nigerian attitudes, his choosing the European form of the novel and writing in English, and increasingly the (male) protagonists' or the implied narrator's alleged attitude towards women has become the target of criticism.</p>

                <p>In his lifetime, Chinua Achebe left for humanity literary legacies which have enriched World literature to the end of time. He gave African Literature not only an indelible identity, but also conferred on it a dignity which centuries of deliberate distortions and mischievous misrepresentations had sought to deny it.  He provided a voice for the voiceless humanity in Africa and everywhere else in the world where calculated acts of oppression, socio-political injustices and dehumanization had reduced the quality of life of the citizenry for centuries. Today, Chinua Achebe is a name celebrated the world over for restoring human dignity to a people once seen and designated as ‘the wretched of the earth.’</p>

                <p><b>###<br>
                ABOUT THE AUTHOR<br>
                Name: Oghenemaro David Oroh<br>
                Role at Dave’s - CEO and Founder of Dave’s bookstore, David is responsible for the day-to-day operations of his brainchild and is also the shining beacon of hope in an industry facing utter decimation. David provides market insight and vision for the direction of this company.<br>


                ABOUT US<br>
                Daves' Bookstore is an online bookstore with a mission to connect people with their favourite books and financially support local bookstores. We believe that the readings of books are essential to a healthy culture.<br>

                CONTACT INFO<br>
                •	 contact@davesbooks.com<br>
                •	Name: Oghenemaro David Oroh<br>
                •	 +1 000 000 0000<br>
                •	 Barrie, ON</b></p>

            </div>
        </section>

        <!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<ul class="icons">
									<li><a href="#" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="#" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="#" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="#" class="icon style2 fa-linkedin"><span class="label">LinkedIn</span></a></li>
								</ul>

								&nbsp;
							</section>

							<ul class="copyright">
								<li>Copyright © 2021 Dave's Bookstore </li>
							</ul>
						</div>
					</footer>

    </div>

    <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>